/**
 * IMG ASSIST WINDOW
 */ 
body.img_assist {
  margin: 0px;
  padding: 5px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8em;
  background-color: #efefef;
}
/* Thin line between the header frame and the main frame */
body#img_assist_thumbs, body#img_assist_upload, body#img_assist_properties {
  border-top: 1px solid #000;
}
/* Darker background color in the header frame */
body#img_assist_header {
  background-color:#ccc;
}
/* Thin border around images */
.img_assist img  {
  border: 1px solid #000;
}
.img_assist .form-button {
  font-weight: bold;
}
.img_assist img {
  display: inline; /* pushbutton theme changes the display to block */
}
.img_assist .messages {
  border: 1px solid #000;
  background-color: #ccc;
  padding: 2px;
  margin: 3px 0px 6px 0px;
}

/* Upload Window */
.img_assist .node-form {
  width: 95%;
}

/* Properties Window */
.img_assist #preview {
  padding: 5px 10px 5px 5px;
}
.img_assist .form-item { /* the first form field on the properties frame should be at the top of the page  */
  margin-top: 0px;
  margin-bottom: 1em;
}
.img_assist #caption {
  display: block;
}
.img_assist #browse div.form-item {
  display: inline;
}
.img_assist #link-group div.form-item{
  display: inline;
}
.img_assist #size div.form-item{
  display: inline;
}
.img_assist #size-other div.form-item{
  display: inline;
}
.img_assist #alignment {
  text-align: left;
}
.img_assist #edit-title, .img_assist #edit-desc {
  width: 99%;
}
.img_assist #edit-link {
  width: 155px;
}
.img_assist #edit-url {
  width: 150px;
}
.img_assist #edit-align {
  width: 100px;
}  
#finalhtmlcode {
  display: none;
  visibility: hidden;
}

/* Header Frame */
#header-uploading, #header-properties, #header-browse {
  float: left; 
  width: 80%;
}
#header-startover, #header-cancel {
  float: right;
  width: 15%;
  text-align: right;
}

/**
 * POPUP IMAGES WINDOW
 */
body#img_assist_display {
  margin: 0;
  padding: 0;
}
img {
  margin: 0;
  padding: 0;
}

/**
 * FINAL PAGE (node)
 * You may want to copy these styles to your theme's CSS file and then set img_assist.css 
 * not to load on every page.  This can be set on the img_assist settings page.
 */ 
span.left {
  float: left;
  clear: left;
  margin: 5px 10px 5px 0px;
}
span.right {
  float: right;
  clear: right;
  margin: 5px 0px 10px 5px;
}
span.caption {
  display: block; /* put the caption under the image (not next to it) */
  font-size: 0.7em;
}
.inline img{
  border: 1px solid #aaa; /* put a thin border around inline images */
  padding: 4px;
}
br.clear {
display: none;
}